body {
  font-family: 'montserrat', Arial, sans-serif !important;
  font-weight: normal;
  background-color: #D7D5D5  !important;
  min-height: 100vh  !important;
  border: 15px solid white  !important;
}

.wrapper {
  margin-top: 20px;
}

.header {
  margin-left: 0 !important;
  margin-bottom: 25px !important;
  background-color: #D7D5D5;
}

.logo {
  max-width: 90%;
  max-height: 5%;
}

.content-box {
  margin-left: 15px;
  display: table;
  width: 100%;
}

.content-box-detail {
  padding-left: 3%;
}

.content {
  display: table-cell; /* Make elements inside the container behave like table cells */
  margin:auto;
  display:inline-block;
  text-align:center;
  width: 48% !important;
}

#home-logo {
  margin-top: 15px;
  float: right;
}

.border {
  border-top: 1px solid white;
}

.margin-bottom {
  margin-bottom: 4%;
}

#content-1 {
  margin: 1%;
}

#content-2 {
  margin: 1%;
}

#background-positive {
  background-color: #9fff80;
}

#background-negative {
  background-color: #ff9999;
}

.prop-positive {
  min-height: 130px;
  padding-top: 4%;
}

.prop-negative {
  min-height: 130px;
  padding-top: 4%;
}

ul.no-left-padding {
  padding-left: 0%;
  text-align: left;
}

li.negative {
  background: url(img/minus.png) no-repeat left top;
  padding: 1px 0px 3px 35px;
  list-style: none;
  margin: 0;
}

li.positive {
  background: url(img/plus.png) no-repeat left top;
  padding: 1px 0px 3px 35px;
  list-style: none;
  margin: 0;
}

.intro {
  padding-left: 1%;
  padding-right: 10%;
}

.main-page-link, .main-page-link:hover{
  text-decoration: none;
}

.main-page-link{
  color: black;
}

.main-page-link:hover{
  color: #f5f7dc;
}

/* toggle triangle icon */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #373f51;
  float: right;
  cursor: pointer;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #373f51;
  float: right;
  cursor: pointer;
}

*[id^="toggleable-"] {
  display: none;
}

*[id^="prop-negative-"] {
  display: none;
}

*[id^="prop-positive-"] {
  display: none;
}

*[id^="icons-border-"] {
  padding-right: 0% !important;
}

*[id^="arrow-up-"] {
  display: none;
}

/* Detail page CSS */

#detail-background {
  background-color: darkgrey;
  text-align: center;
  margin-bottom: 3vw;
}

.icons-detail-list {
  margin-bottom: 15px;
}

.login {
  margin-left: 25% !important;
  margin-right: 25% !important;
}

#submit-div {
  padding-top: 15px;
  margin-left: 38% !important;
}

#save-div {
  padding-top: 15px;
}

.add-category {
  margin-left: 25%;
}

.label-category {
  margin-right: -10%;
}

#icons {
  margin-left: 33%;
}

#item-background {
  background-color: darkgrey;
  text-align: left;
  margin-bottom: 3vw;
}

.add-padding {
  padding: 3%;
}

.multiselects {
  width: 33% !important;
}

.item {
  margin-top: 2%;
}